.partners {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 40px;
}
.partners-list li {
  margin: 20px 20px;
}
.partners h2 {
  margin-bottom: 20px;
}
.partners p {
  margin-bottom: 30px;
}
